body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #935f3f;
}

.login-container {
    width: 350px;
    padding: 20px;
    background-color: #895a3d;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f1ebeb;
}

.input-field {
    margin-bottom: 15px;
}

.input-field label {
    display: block;
    margin-bottom: 10px;
    color: #fcfafa;
}

.input-field input {
    width: 96%;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}

.input-field a {
    color: #181817;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #b57355;
    border: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.login-cadastro {
    width: 100%;
    padding: 10px;
    background-color: #b57355;
    border: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #a07245;
}
.login-cadastro:hover {
    background-color: #a07245;
}